Slides/
Book/
/*.pdf
*.docx
*.pptx
*.mp4
Homework/**/*.png
Homework/**/*.pdf
Homework/**/*.zip
Homework/HW2/baseline/li*
Homework/HW2/baseline/no*
Final_Project/paper/
Final_Project/Group*
Final_Project/*Final project.pdf
Final_Project/bunny*
Final_Project/stitch
__pycache__